header{
    border-bottom: 1px solid gray;
    padding: 20px;
}

nav{
    border-right: 1px solid gray;
    width: 200px;
    height: 600px;
    float: left;
    padding: 20px;
}
article{
    float: left;
    /* padding: 20px; */
    padding-left: 20px;
}
nav  ol{
    list-style: none;
}
h2{
    font-size: 30px;
}
